.top {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.mtitle {
  text-align: center;
  color: darkred;
  margin-top: 20px;
}

.card {
  background-color: white;
  color: black;
  border: 4px solid #e50914;
  width: 200px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.card.active {
  background: lightcoral;
}

.card img {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card p {
  max-height: 20px;
  overflow: hidden;
}

.detail {
  min-height: 100px;
  text-align: center;
  margin: 40px 0;
}

.detail img {
  width: 320px;
  max-height: 320px;
  object-fit: cover;
  border-radius: 30px;
}

.facts {
  background-color: #333;
  padding: 20px;
  margin: 30px auto;
  width: 600px;
  border-radius: 15px;
  border: 2px dashed orange;
  color: white;
}

.facts h2 {
  color: orange;
  text-align: center;
}
