* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  padding-top: 130px;
  /* колір фону сторінки (темний/чорний) */
  /* колір тексту (білий) */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: darkred;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.nav-link {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* --- Hero Section (Top) --- */
.hero {
  background: url('https://i.pinimg.com/736x/85/cd/21/85cd21df4a6ce934e90d46912f9e0777.jpg') rgba(0, 0, 0, 0.445);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-title {
  font-size: 60px;
  margin-bottom: 20px;
  /* жирний шрифт */
  /* колір тексту (червоний) */
}

.subscribe-form {
  margin-top: 20px;
}

.input-email {
  padding: 10px;
  width: 300px;
  font-size: 20px;
  color: black;
}

.btn-red {
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.section {
  padding: 40px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.horizontal-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.video-card {
  width: 300px;
  padding: 30px;
}

.thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 160px;
}
img {
  max-width: 100%;
}
img.img1 {
  background-image: url('img/trailer1.jpg');
  background-size: cover;
  background-position: center;
}

img.img2 {
  background-image: url('img/trailer2.jpg');
  background-size: cover;
  background-position: center;
}

img.img3 {
  background-image: url('img/trailer3.jpg');
  background-size: cover;
  background-position: center;
}

/* --- Footer --- */
.footer {
  padding: 40px;
  margin-top: 40px;
  background: darkred;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }
}

.footer-link {
  display: block;
  margin-bottom: 10px;
}
